{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <title>Form</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
</head>
<body style="padding: 20px;">
    <h1>Chi-Square Calculator</h1>
    <h2>2x2 Contingency Table</h2>
    <form action="" method="post">
	{% csrf_token %}      
       <div class="form-row">
        <div class="form-group col-md-6 mb-0">
        <table class="table table-bordered">
            <thead>
               <th> # </th> 
               <th>Col 1</th> 
               <th>Col 2</th> 
            </thead>
              <tbody>
                <tr>
                    <td>Row 1</td>
                    <td>
                        {{ form.a|as_crispy_field }}
                    </td>
                    <td>
                        {{ form.b|as_crispy_field }}
                    </td>
                  </tr>
                  <tr>
                    <td>Row 2</td>
                    <td>
                        {{ form.c|as_crispy_field }}
                    </td>
                    <td>
                        {{ form.d|as_crispy_field }}
                    </td>
                  </tr>
              </tbody>
        </table>
        
    </div>
    <div class="container">

        <button type="submit">Calculate</button>
    </div>
    
      </div>
    </form>
</body>
</html>
